// SECTION article :: START

section#article.article
  .c-grid
    .article__wrapper

      h2.article__subtitle.c-subtitle!= "Articles and stories"
      p.article__title.c-title!= "Relevant articles from our community"

      .article__box-wrapper
        a.article__box(href="#" class="" title="")
          .article__box-top
            img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
          .article__box-bottom
            p.article__box-title!= "7 simple ways to reduce anxiety on a day to day basis"

            .article__box-info
              .article__box-info--left

                .article__box-user
                  .article__box-user--left
                    .article__box-user--circle
                      img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
                  .article__box-user--right
                    p!= "Margaret Rhodes"

              .article__box-info--right
                span!= "2 min read"

        a.article__box(href="#" class="" title="")
          .article__box-top
            img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
          .article__box-bottom
            p.article__box-title!= "Working with the mind in the body - combining psychotherapy with fitness"

            .article__box-info
              .article__box-info--left

                .article__box-user
                  .article__box-user--left
                    .article__box-user--circle
                      img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
                  .article__box-user--right
                    p!= "Bertie Curtis"

              .article__box-info--right
                span!= "2 min read"

        a.article__box(href="#" class="" title="")
          .article__box-top
            img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
          .article__box-bottom
            p.article__box-title!= "7 simple ways to reduce anxiety on a day to day basis"

            .article__box-info
              .article__box-info--left

                .article__box-user
                  .article__box-user--left
                    .article__box-user--circle
                      img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
                  .article__box-user--right
                    p!= "Margaret Rhodes"

              .article__box-info--right
                span!= "2 min read"

        a.article__box(href="#" class="" title="")
          .article__box-top
            img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
          .article__box-bottom
            p.article__box-title!= "7 simple ways to reduce anxiety on a day to day basis"

            .article__box-info
              .article__box-info--left

                .article__box-user
                  .article__box-user--left
                    .article__box-user--circle
                      img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")
                  .article__box-user--right
                    p!= "Margaret Rhodes"

              .article__box-info--right
                span!= "2 min read"

// SECTION article :: END