// SECTION description :: START

section#description.description
  .c-grid
    .description__wrapper

      p.description__text.description__text--letter!= "<span>W</span> hen you are in emotional distress, it can feel messy and uncomfortable. Culturally, we are a society that wants answers and solutions before the discomfort becomes unbearable. We want to look and feel happy, to ignore or placate our negative thoughts or feelings into something more optimistic or palatable."

      h3.description__subtitle!= "What to expect in the counselling room"

      p.description__text!= "When we don’t feel like ourselves or something is missing internally, we can seek solace in things that are external to try and relieve or make the uncomfortable feelings disappear. This can manifest in unhealthy coping patterns such as being in unhealthy relationships, controlled eating, buying extravagant gifts, indulging in alcohol or other mind-altering substances in an attempt to ignore or hide away from what is really going on."
      p.description__text!= "While the immediate effect seems to have the desired outcome in feeling better and trying to forget, it offers temporary relief to long term problems, preventing your ability to problem-solve, self-regulate and build resilience."

      .description__blockquote
        .description__blockquote-left
          i

          h3.description__subtitle!= "It might feel easier to try and ignore this feeling and hope it will get better with time."

        .description__blockquote-right
          p.description__text!= "It can be confusing and draining not knowing where the tears are coming from and knowing that something doesn’t feel quite right. Sometimes it may feel like there is an obvious cause - the loss of an important job, a difficult breakup - and other times there are no obvious answers, but the feeling is there just the same."

      p.description__text!= "It might feel easier to try and ignore this feeling and hope it will get better with time. You might even consider making some changes, perhaps a change of environments like a holiday or a short break, or something more drastic like a new job or ending a long-term relationship."
      p.description__text!= "While these things might offer some short solutions and temporary relief, without finding the root cause or developing self-awareness and insight, these feelings are likely to remain, and you could find yourself feeling very stuck."

      .description__image-wrapper
        .description__image-cover
          img(src="/img/img-ts.jpg" srcset="/img/img-ts@2x.jpg 2x, /img/img-ts@3x.jpg 3x" alt="" title="")

        .description__image-info
          p!= "Photo by Minnie Soto"

      h3.description__subtitle!= "Clients dilemmas"

      p.description__text!= "Clients experience such dilemmas in the counselling room; the feeling of being unfulfilled and a common descriptor of being numb."
      p.description__text!= "It’s natural to want immediate answers and to try to find the quickest way of feeling like your old self again, but it is also quite important to be realistic. Keep an open mind to the fact that when you find yourself facing an existential crisis, it is a process, and it takes time to navigate your way to deeper understanding."

      h2.description__title!= "It might feel easier to try and ignore this feeling and hope it will get better."

      p.description__text!= "It’s natural to want immediate answers and to try to find the quickest way of feeling like your old self again, but it is also quite important to be realistic. Keep an open mind to the fact that when you find yourself facing an existential crisis, it is a process, and it takes time to navigate your way to deeper understanding."

      .description__content

        .description__image-wrapper
          .description__image-cover
            img(src="/img/img-base.jpg" srcset="/img/img-base@2x.jpg 2x, /img/img-base@3x.jpg 3x" alt="" title="")

          .description__image-info
            p!= "Photo by Minnie Soto"

        p.description__text!= "It can be confusing and draining not knowing where the tears are coming from and knowing that something doesn’t feel quite right. Sometimes it may feel like there is an obvious cause - the loss of an important job, a difficult breakup - and other times there are no obvious answers, but the feeling is there just the same. "
        p.description__text!= "It’s natural to want immediate answers and to try to find the quickest way of feeling like your old self again, but it is also quite important to be realistic. Keep an open mind to the fact that when you find yourself facing an existential crisis, it is a process, and it takes time to navigate your way to deeper understanding."




// SECTION description :: END