// SECTION info :: START

section#info.info
  .c-grid
    .info__wrapper.info__wrapper-0

      .info__social
        .info__social-left
          p!= "Think this article is worth sharing?"

        .info__social-right

          ul.info__social-list
            li
              a(href="#" class="" title="")
                i.icon-font.icon-facebook
            li
              a(href="#" class="" title="")
                i.icon-font.icon-twitter
            li
              a(href="#" class="" title="")
                i.icon-font.icon-link
            li
              a(href="#" class="" title="")
                i.icon-font.icon-email

    .info__wrapper.info__wrapper-1

      .info__tags
        .info__tags-left
          p!= "Article Tags"

        .info__tags-right

          a.info__tags-link(href="#" class="" title="")!= "Depression"
          a.info__tags-link(href="#" class="" title="")!= "Feeling sad"

    .info__wrapper.info__wrapper-2

      .info__user
        .info__user-left
          .info__user-circle
            img(src="/img/img-info-user.png" srcset="/img/img-info-user@2x.png 2x, /img/img-info-user@3x.png 3x" alt="" title="")

        .info__user-right
          p!= "Written by Lizandra Leigertwood MA, MBACP"
          span!= "My private practice is New Frame Counselling and Psychotherapy in St Albans, Hertfordshire. I help individuals and couples form better relationships and develop healthier coping styles."
          a(href="#" class="" title="")!= "View all articles by Lizandra"

// SECTION info :: END